{% extends 'base.html.twig' %}

{% block title %}Post Lists
{% endblock %}

{% block body %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<th scope="row">{{loop.index}}</th>
					<td>{{post.title}}</td>
					<td>
						<a href="{{ path('edit-post', {id: post.id}) }}" class="btn btn-success">Edit</a>
						<a href="" class="btn btn-danger">delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
